<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de noticias</title>
		</head>
	<body>

		<h1>Noticia</h1>
		<table>
			<thead>
				<tr>
					<td>Id</td>
					<td>Titulo</td>
					<td>Noticia</td>
				</tr>
			</thead>

			<tbody>
				<% for (let not of noticia) {%>
				<tr>
					<td><%= not.id %></td>
					<td><%= not.titulo %></td>
					<td><%= not.noticia %></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</body>
</html>